<app-navbar></app-navbar>
<div class="p-4 w-full h-full">
    @if (!loading) {
      @if (taskList.length) {
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
          @for (task of taskList; track $index) {
            <app-card
              [task]="task"
              (onTaskDeleted)="onTaskDeleted()"
            ></app-card>
          }
        </div>
      } @else {
        <p class="text-slate-600">No se ha encontrado ninguna tarea, pruebe creando una.</p>
      }
    } @else {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        <app-card-skeleton class="w-full"></app-card-skeleton>
        <app-card-skeleton class="w-full"></app-card-skeleton>
        <app-card-skeleton class="w-full"></app-card-skeleton>
      </div>
    }
</div>

<button
  (click)="toggleModal()"
  class="fixed bottom-4 right-4 text-2xl text-white bg-green-400 hover:bg-green-500 p-4 rounded-full cursor-pointer flex items-center justify-center">
  <i class="fa-solid fa-plus"></i>
</button>

@if (showModal) {
  <app-card-modal (onHideModal)="onModalClosed($event)"></app-card-modal>
}
